---
layout: default
gallery:
  - column-size: col-4
    aspect-ratio: square
    background_image: https://source.unsplash.com/gRZmKaFUpBM
  - column-size: col-4
    aspect-ratio: square
    background_image: https://source.unsplash.com/gRZmKaFUpBM
  - column-size: col-4
    aspect-ratio: square
    background_image: https://source.unsplash.com/gRZmKaFUpBM
  - column-size: col-12
    aspect-ratio: landscape
    background_image: https://source.unsplash.com/uocSnWMhnAs
  - column-size: col-6
    aspect-ratio: square
    background_image: https://source.unsplash.com/oPJveyQEjKY
  - column-size: col-6
    aspect-ratio: square
    background_image: https://source.unsplash.com/oPJveyQEjKY
---

<!---------------------- Header banner ---------------------->
    <header class="grid tall-100 md-tall-80">

      {% include header-nav.html %}

      <div class="col-12 text-center">
        <h3 data-aos="fade-in" data-aos-duration="1000"><span class="featured-text">explore</span> our world</h3>
        <h1 class="font-weight-light"  data-aos="fade-up" data-aos-delay="500">the ultimate mattress solution</h1>
      </div>
    </header>

<!---------------------- Gallery ---------------------------->
    <!-- 1) Pop Up Gallery -->
    <section class="padded">
        <div class="gallery grid" id="lightgallery">

            {% for item in page.gallery %}
            <a class="{{item.column-size}}" href="{{item.background_image}}">
                <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"></div>
            </a> 
            {% endfor %}
        </div>
    </section>

    <!-- 2) Pup Up Gallery w/ Button -->
    <!-- <section class="padded">
        <div class="gallery grid" id="lightgallery-2">
            <a class="button text-center" href="https://source.unsplash.com/gRZmKaFUpBM">
               View our work
            </a> 
            <a href="https://source.unsplash.com/gRZmKaFUpBM" title="Bed"></a>
            <a href="https://source.unsplash.com/gRZmKaFUpBM"></a>
            <a href="https://source.unsplash.com/gRZmKaFUpBM"></a>
            <a href="https://source.unsplash.com/gRZmKaFUpBM"></a>
            <a href="https://source.unsplash.com/gRZmKaFUpBM"></a>
        </div>
    </section> -->

    <!-- Standard Gallery  -->
    <!-- <section class="padded">
        <div class="gallery grid">

            {% for item in page.gallery %}
            <div class="{{item.column-size}}">
                <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"></div>
            </div> 
            {% endfor %}
        </div>
    </section> -->
