---
layout: default
features:
  - icon: fas fa-cloud
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      voluptatibus provident consectetur non, doloremque ut expedita nisi sed,
      vel quaerat sapiente velit maxime illum obcaecati, dignissimos nobis nemo
      earum
  - icon: fas fa-feather
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      voluptatibus provident consectetur non, doloremque ut expedita nisi sed,
      vel quaerat sapiente velit maxime illum obcaecati, dignissimos nobis nemo
      earum
  - icon: fas fa-cloud
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      voluptatibus provident consectetur non, doloremque ut expedita nisi sed,
      vel quaerat sapiente velit maxime illum obcaecati, dignissimos nobis nemo
      earum
  - icon: fas fa-feather
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      voluptatibus provident consectetur non, doloremque ut expedita nisi sed,
      vel quaerat sapiente velit maxime illum obcaecati, dignissimos nobis nemo
      earum
  - icon:
    description:
---

<!---------------------- Header banner ---------------------->
    <header class="grid tall-100 md-tall-80">

      {% include header-nav.html %}

      <div class="col-12 text-center">
        <h3 data-aos="fade-in" data-aos-duration="1000"><span class="featured-text">sleep</span> like a baby</h3>
        <h1 class="font-weight-light"  data-aos="fade-up" data-aos-delay="500">the ultimate mattress solution</h1>
      </div>
    </header>

    <!---------------------- Gallery section ---------------------->
    <section class="grid">
      <div class="padded col-6_xs-12-middle" data-aos="fade-right">
        <h2>built to last a <span class="featured-text">lifetime</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
          eveniet enim, exercitationem quidem quisquam eos
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim error,
          expedita eveniet labore qui vero asperiores eum
        </p>
      </div>
      <div class="bg-image col-6_xs-12 tall-70 bg-bed">
        <!-- add img -->
      </div>
      <div class="bg-image col-6_xs-12 tall-70 bg-pug hide-xs">
        <!-- add img -->
      </div>
      <div class="padded col-6_xs-12-middle overflow-hide" > 
        <div data-aos="fade-left">
            <h2>so <span class="featured-text">soft</span> you'll melt</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
              tempore? Nisi fugiat hic harum quisquam a facere atque soluta aperiam
              blanditiis nemo asperiores alias placeat, culpa vitae vero eveniet
              saepe!
            </p>
        </div>
      </div>
    </section>

    <!---------------------- Features section ------------------->
    <section class="padded grid-center bg-dark">
      <div class="padded-sm col-12 text-center">
        <h2><span class="featured-text">features</span> you will love</h2>
      </div>

      {% for item in page.features %}
      <div class="padded-sm col-3_sm-6 xxs-stack">
        <i class="{{item.icon}}"></i>
        <p>
         {{item.description}}
        </p>
      </div>      
      {% endfor %}
    </section>

    <!---------------------- Banner ---------------------->
    <section class="padded text-center bg-pillow tall-70 grid">
      <div class="col-12-middle">
        <h3 class="big-text" data-aos="fade-in" data-aos-duration="1000">
          <span class="small-text .font-weight-normal"
            >never underestimate the power of</span
          >
          <br />
          a good night <span class="featured-text-white">sleep</span>
        </h3>
      </div>
    </section>

    <!---------------------- Testimonials ---------------------->
    <section class="padded-lg grid">
      <div class="col-1 text-right">
        <span class="quote-icon">“</span>
      </div>
      <div class="col-10 text-center">
        <p class="medium-text font-weight-light">
          I've never experienced sleep like this. I really love this mattress. I
          want to buy one for every member of my family.
        </p>
        <p class="subtitle">- A very happy customer</p>
      </div>
      <div class="col-1">
        <span class="quote-icon">”</span>
      </div>
    </section>
