---
layout: default
cards:
  - heading: little heading
    description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos
                similique facere mollitia deserunt? Odio laborum incidunt deserunt
                placeat quidem assumenda minima ea totam repellendus quia eius, qui
                quas quasi ducimus.
    featured_image: https://source.unsplash.com/gRZmKaFUpBM
  - heading: little heading
    description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos
                similique facere mollitia deserunt? Odio laborum incidunt deserunt
                placeat quidem assumenda minima ea totam repellendus quia eius, qui
                quas quasi ducimus.
    featured_image: https://source.unsplash.com/gRZmKaFUpBM
  - heading: little heading
    description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos
                similique facere mollitia deserunt? Odio laborum incidunt deserunt
                placeat quidem assumenda minima ea totam repellendus quia eius, qui
                quas quasi ducimus.
    featured_image: https://source.unsplash.com/gRZmKaFUpBM
---
    <!---------------------- Header ------------------------------>
    <header class="grid tall-60">
      
      {% include header-nav.html %}

      <div class="col-12-middle text-center">
        <h3 class="font-weight-extra-bold" data-aos="fade-in" data-aos-duration="1000"><span class="featured-text">addictively </span>soft</h3>
        <h1 class="font-weight-light" data-aos="fade-up" data-aos-delay="500">you won't want to get out of bed</h1>
      </div>
    </header>

   <!---------------------- Features section ------------------->
    <section class="padded grid bg-featured">
      <div class="padded-sm col-12 text-center">
        <h2>our mattress <span class="featured-text-white">promise</span></h2>
      </div>
      <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>little heading</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          voluptatibus provident consectetur non, doloremque ut expedita nisi
          sed, vel quaerat sapiente velit maxime illum obcaecati, dignissimos
          nobis nemo earum
        </p>
      </div>
      <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>little heading</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorem
          dicta commodi excepturi voluptatum. Animi aspernatur assumenda,
          tempora iure hic nam facere expedita minus omnis sed vero quae
          voluptate
        </p>
      </div>
      <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>little heading</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
          inventore mollitia ducimus sit obcaecati quas sequi, laudantium ad
          fugit consequuntur, nesciunt, eos iusto deleniti magni libero
          repudiandae numquam iste harum.
        </p>
      </div>
      <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>little heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos
          similique facere mollitia deserunt? Odio laborum incidunt deserunt
          placeat quidem assumenda minima ea totam repellendus quia eius, qui
          quas quasi ducimus.
        </p>
      </div>
    </section>

    <!---------------------- Cards section ------------------------>
    <section class="grid padded">
      {% for item in page.cards %}
      <div class="col-4_sm-12 padded-sm">
        <div class="card">
          <div class="bg-image portrait" style='background-image: url("{{item.featured_image}}");'></div>
            <div class="padded-lg">
              <h3>{{item.heading}}</h3>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>

    <!---------------------- Image Banner ---------------------->
    <section class="padded text-center bg-dark tall-70 grid image-banner">
      <div class="col-12-middle">
        <h3 class="big-text"  data-aos="fade-in" data-aos-duration="1000">
          <span class="small-text .font-weight-normal"
            >spend over $150 and activate</span
          >
          <br />
          <span class="featured-text">free</span> express shipping
        </h3>
      </div>
    </section>
     <!---------------------- Gallery section ---------------------->
    <section class="grid">
      <div class="padded col-6_xs-12-middle" data-aos="fade-right">
        <h2>a catchy <span class="featured-text">heading</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
          eveniet enim, exercitationem quidem quisquam eos
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim error,
          expedita eveniet labore qui vero asperiores eum
        </p>
      </div>
      <div class="bg-image col-6_xs-12 tall-70 bg-bed hide-xs">
        <!-- add img -->
      </div>
      <div class="bg-image col-6_xs-12 tall-70 bg-pug">
        <!-- add img -->
      </div>
      <div class="padded col-6_xs-12-middle" data-aos="fade-left">
        <h2>a catchy <span class="featured-text">heading</span></h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
          tempore? Nisi fugiat hic harum quisquam a facere atque soluta aperiam
          blanditiis nemo asperiores alias placeat, culpa vitae vero eveniet
          saepe!
        </p>
      </div>
      <div class="padded col-6_xs-12-middle" data-aos="fade-right">
       <h2>a catchy <span class="featured-text">heading</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
          eveniet enim, exercitationem quidem quisquam eos
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim error,
          expedita eveniet labore qui vero asperiores eum
        </p>
      </div>
      <div class="bg-image col-6_xs-12 tall-70 bg-bed">
        <!-- add img -->
      </div>
    </section>
