* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------Universal Syles + Utility Classes----------------------*/
/* Padding + Margin--------------*/
.padded-sm {padding: 2.5%;}
.padded {padding: 5%;}
.padded-lg {padding: 10%;}

/* Minimum Height----------------*/
.tall-70 {min-height: 70vh;}
.tall-80 {min-height: 80vh;}
.tall-90 {min-height: 90vh;}
.tall-100 {min-height: 100vh;}

/* Backgrounds + Images----------*/
.bg-image { 
  background-color: rgb(200,200,200);
  background-size:cover;
  background-repeat:no-repeat;
  min-height: 10rem;
}

.landscape     { padding-bottom: 66%; }
.landscape-wide{ padding-bottom: 56%;  }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }

.bg-dark {
  background-color: #192b37;
  color: #ffffff;
}
.bg-featured{ background-color:#f4b525; }
.bg-light{ background-color:#e3ecf2; }

/* Typogorgaphy ------------------*/
body {
  color: #192b37;
  font-family: "Catamaran", sans-serif;
}

h2, h3, h4, h5, h6{
  margin-bottom: 1rem;
  line-height: 1.1;
}

h2 { font-size: 2.5rem;}


p {
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}

a:hover{
  color: #ffbe00;
}

.text-center {text-align: center;}
.text-left {text-align:left;}
.text-right {text-align: right;}

.big-text {font-size: 5rem;}
.small-text {font-size: 1.5rem;}
.medium-text {
  font-size: 2rem;
  line-height: 1.5;
}

.font-weight-light {font-weight: 200;}
.font-weight-normal {font-weight: normal; /*Generally 400 is normal*/}
.font-weight-extra-bold {font-weight: 800;}

.featured-text {color: #ffbe00;}
.featured-text-white {color: #ffffff;}

.subtitle {
  font-size: 1.2rem;
  color: rgb(120, 120, 125);
}

/* Font Awesome Icons-------------*/
.fas {
  display: block;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* ----------------------Header + Footer -------------------------------------- */
header {
  background-image: url("https://source.unsplash.com/oPJveyQEjKY");
  background-size: cover;
  background-position: center;
  padding: 2% 5%;
}

header h3 {
  font-size: 4.5rem;
  line-height: 1;
}

nav a{
  padding: 0.5rem;
  display:inline-block;
  border:none;
}

.logo h2{margin-bottom:0;}

/* Footer-------------------------*/
footer a {
  border: none;
}

/* ----------------------Home Page Image + Text Section---------------------*/
.bg-bed {
  background-image: url("https://source.unsplash.com/uocSnWMhnAs");
  background-size: cover;
  background-position: center;
}

.bg-pug {
  background-image: url("https://source.unsplash.com/S2AcayPkszE");
  background-size: cover;
  background-position: 50% 35%;
}

/* ----------------------Home Page Banner Section----------------------------*/
.bg-pillow {
  background-image: url("https://source.unsplash.com/gRZmKaFUpBM");
  background-size: cover;
  background-position: 50% 57%;
}

/* ----------------------Buttons + Forms-------------------------------------*/
/* Contact Form-------------------*/
input,
textarea{
  width:100%;
  display:block;
  margin-bottom:0.3rem;
  font-family:inherit;
  padding:0.5rem;
  font-size: 0.9rem;
  border:2px solid transparent;
  border-radius: 3px;
}

input:focus, 
textarea:focus{
  border: 2px solid #ffbe00;
  outline:none;
}

.button{
  width:50%;
  display:inline-block;
  text-align:center;
  padding:0.5rem;
  border:none;
  border-radius: 3px;
  background-color: #ffbe00;
}

.button:hover{
  background-color: white;
}

/* ----------------------Testimonials----------------------------------------*/
.quote-icon {
  color: rgb(120, 120, 125);
  display: inline-block;
  font-size: 6rem;
  line-height: 1;
}
